#expr {
  display: block;
  width: 400px;
  margin: 30px auto;
  font-size: 24px;
}

body {
  font-family: sans-serif;
}

#result {
  padding: 10px;
  font-size: 24px;
}

#debug {
  display: none;
  padding: 10px;
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 5px;
  font-family: monospace;
}

#error {
  font-weight: bold;
  color: #c00;
}
